.title {
    display: flex;
    font-size: xx-large;
    vertical-align: center;
    margin: 20px 12px;
    width: 520px;
    padding-left: 10px;
}

.stats-box {
    border-top: darkgray solid 3px;
    border-bottom: lightgray solid 3px;
    border-left: darkgray solid 3px;
    border-right: lightgray solid 3px;
    background: white;
    display: flex;
    font-size: x-large;
    margin: auto 10px;
    width: 420px;
    height: 30px;
    padding: 10px;
}

.outer-container {
    display: flex;
    margin: auto;
    width: 1000px;
    height: 650px;
    flex-direction: column;
}

.inner-container {
    border-top: white solid 3px;
    border-bottom: darkgray solid 3px;
    border-left: white solid 3px;
    border-right: darkgray solid 3px;
    background: lightgray;
    display: flex;
    margin: auto;
    width: 1000px;
    height: 650px;
    flex-direction: row;
}

.header-bar {
    border-top: white solid 3px;
    border-bottom: darkgray solid 3px;
    border-left: white solid 3px;
    border-right: darkgray solid 3px;
    background: lightgray;
    display: flex;
    margin: auto;
    width: 1000px;
    height: 80px;
}

.disclaimer-box {
    border-top: darkgray solid 3px;
    border-bottom: lightgray solid 3px;
    border-left: darkgray solid 3px;
    border-right: lightgray solid 3px;
    background: white;
    display: flex;
    flex-direction: column;
    margin: auto 10px;
    width: 420px;
    height: 520px;
    padding: 10px;

}

.field {
    border: darkgray solid 2px;
    display: flex;
    margin: auto 10px;
    width: 520px;
    height: 520px;
}

.cell {
    display: block;
    text-align: center;
    width: 20px;
    height: 20px;
}

.cell.closed {
    border-top: white solid 3px;
    border-bottom: darkgray solid 3px;
    border-left: white solid 3px;
    border-right: darkgray solid 3px;
    background: lightgray;
}

.cell.opened {
    border-top: darkgray solid 3px;
    border-bottom: lightgray solid 3px;
    border-left: darkgray solid 3px;
    border-right: lightgray solid 3px;
    background: white;
}

.mine.opened {
    background-image: url("./assets/mine.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.cell.closed.marked {
    background-image: url("./assets/flag.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.count-1.empty {
    color: blue;
}

.count-2.empty {
    color: darkred;
}

.count-3.empty {
    color: fuchsia;
}

.count-4.empty {
    color: red;
}

.count-5.empty {
    color: green;
}

.count-6.empty {
    color: yellow;
}

.count-7.empty {
    color: darkorchid;
}

.count-8.empty {
    color: chartreuse;
}

.count-9.empty {
    color: coral;
}
